<footer>
    <div class="container_large">
        <div class="padding_global">
            <div class="two-col">
                <div>
                    <h3>Shoot me a Mail</h3>
                     <p class="small">Let me take care of your marketing needs so you can focus on what you do best.</p>
                    <a href="mailto:Victorfawole48@gmail.com" class="button">Send a Mail</a>
                </div>
                <div class="links">
                    
                    <div>
                        <h4>Pages</h4>
                        <a href="/service">services</a>
                        <a href="/about">About</a>
                        <a href="/portfolio">Portfolio</a>
                        <a href="/blog">Blog</a>
                       
                    </div>

                    <div>
                        <h4>Socials</h4>
                        <a href="https://www.linkedin.com/in/victor-fawole-7405151ab?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
                        <a href="">Instagram</a>
                        <a href="https://x.com/Victorfawole0?t=llADrbadcAn4QA-81l_agQ&s=09">X</a>
                       
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="centered">© Victor Fawole</div>
</footer>