<nav class="navbar">
    <div class="brand-titles">
        <a href="/">
          <div class="brand-link">
           <h3>Victor Fawole</h3>
          
            
          </div>
        </a>

    </div>
    
      <a href="#" class="toggle-button">
          <span class="bar one"></span>
          <span class="bar two"></span>
          <span class="bar three"></span>
      </a>
  

    <div class="navbar-links">
        
      <ul>
          <li><a href="/" class="ava">Home</a></li>
          <li>
            
           
              <a href="/service" class="ava">Services</a></span>
              
             
          
        </li>
          <li><a href="/portfolio" class="ava">Portfolio</a></li>
          <li><a href="/about" class="ava">About</a></li>
          <li><a href="/blog/" class="ava">Blog</a></li>
         
         
          
      </ul>
       
    </div>
    <div class="nav-button">
        <a href="#cta" class="button">
            Start a project 🎉

            
            
        </a>
     
    </div>
    
</nav>