---
title: Recent work
layout: 'base.njk'
desc: Portfolio | Expert Web3 writer, growth lead, and content manager. Boost visibility and credibility with compelling content.
---

<section>
    <div class="container_large">
        <div class="padding_global">
            
            <div class="services-component">
                <div class="grid-center">
                    <div class="text">
                        <div>
                            
                            <h1><span>My Portfolio</span></h1>
                            <p>
                                Take a look at a few articles I wrote for top B2B organizations
                            </p>
                        
                        
                        
                        </div>
                        
                    </div>
                   

                </div>
            </div>
            
        </div>
    </div>
</section>
<section>
    <div class="container_large">
        <div class="padding_global">
            <div class="portfolio-grid">
                <div class="portfolio-item">
                    <div class="image-holder zoom">
                        <img src="/assets/images/writing.avif" alt="">
                    </div>
                    <div>
                        <h3><a href="https://blog.developerdao.com/technical-writing-101-360-guide-on-how-to-start-your-technical-writing-journey" target="_blank">Technical Writing 101: 360 Guide on How to Start your Technical Writing Journey</a></h3>
                        <p>You might have the impression that writers are born. But no, they are made!

                            Writing is a skill you can learn, sharpen, and master through consistent practice over time. </p>
                        <a href="https://blog.developerdao.com/technical-writing-101-360-guide-on-how-to-start-your-technical-writing-journey" class="btn" target="_blank">Read Article</a>
                    </div>    
                       
                   
                </div>
                <div class="portfolio-item">
                    <div class="image-holder zoom">
                        <img src="/assets/images/quad.avif" alt="">
                    </div>
                        
                    <div>
                        
                        <h3><a href="https://blog.developerdao.com/what-is-quadratic-funding" target="_blank">What is Quadratic Funding, and How Does it Work?</a></h3>
                        <p>
                            The rich get richer every day, even when it comes to grant programs; however, Vitalik Buterin, the co-founder of Ethereum, thinks that for Web3 to be truly democratic, grant fundraising should also be democratic.

                        </p>
                        <a href="https://blog.developerdao.com/what-is-quadratic-funding" class="btn" target="_blank">Read Article</a>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image-holder zoom">
                        <img src="/assets/images/P2E.jpeg" alt="">
                    </div>
                    <div> 
                        <h3><a href="https://www.linkedin.com/pulse/p2e-marketing-growth-hack-market-your-game-victor-fawole-etekc/" target="_blank">P2E Marketing: The Growth Hack TO Market Your Game</a></h3>
                        <p>Tides have changed in the gaming industry, and Play-to-Earn (P2E) games are the latest trend to capture the attention of gamers, developers, and investors alike. </p>
                        <a href="https://www.linkedin.com/pulse/p2e-marketing-growth-hack-market-your-game-victor-fawole-etekc/" class="btn" target="_blank">Read Article</a>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="image-holder zoom">
                        <img src="/assets/images/Guides.avif" alt="">
                    </div>
                    <div> 
                        <h3><a href="https://blockchainalpha.hashnode.dev/what-is-a-flashloan-all-you-need-to-know-ultimate-guide-2024" target="_blank">What is a Flashloan? All You Need to Know (Ultimate Guide 2024)</a></h3>
                        <p>In decentralized finance (DeFi), flashloans have become a game-changing tool. They offer users the ability to instantly borrow funds without needing collateral,</p>
                        <a href="https://blockchainalpha.hashnode.dev/what-is-a-flashloan-all-you-need-to-know-ultimate-guide-2024" class="btn" target="_blank">Read Article</a>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="image-holder zoom">
                        <img src="/assets/images/solidi.avif" alt="">
                    </div>
                    <div> 
                        <h3><a href="https://victorfawole.hashnode.dev/360-guide-on-how-to-create-piggy-bank-smart-contract-using-solidity-language" target="_blank">360 Guide on How to Create Piggy Bank Smart Contract Using Solidity Language</a></h3>
                        <p>The piggy bank of the digital age is no longer made of ceramic or cast iron; rather, it's built on solidity language. </p>
                        <a href="https://victorfawole.hashnode.dev/360-guide-on-how-to-create-piggy-bank-smart-contract-using-solidity-language" class="btn" target="_blank">Read Article</a>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="image-holder zoom">
                        <img src="/assets/images/bitkeep.webp" alt="">
                    </div>
                    <div> 
                        <h3><a href="https://decentrapress.com/bitkeep-hacked-unofficial-apk-used-to-steal-8-million-of-users-funds/#google_vignette" target="_blank">BitKeep Hacked: Unofficial APK Used to Steal $8 Million of Users’ Funds</a></h3>
                        <p>In 2022, there have been widespread hacks in the DeFi ecosystem because hackers have chosen to milk funds by exploiting smart contract vulnerabilities. </p>
                        <a href="https://decentrapress.com/bitkeep-hacked-unofficial-apk-used-to-steal-8-million-of-users-funds/#google_vignette" class="btn" target="_blank">Read Article</a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

